@import "~@angular/material/theming";
@include mat-core();

$custom-app-primary: mat-palette($mat-light-green);
$custom-app-accent: mat-palette($mat-orange);

$custom-app-warn: mat-palette($mat-red);

$custom-app-theme: mat-light-theme(
  $custom-app-primary,
  $custom-app-accent,
  $custom-app-warn
);

@include angular-material-theme($custom-app-theme);
